<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <script type="module" src="../my-mini-vue.esm.js"></script>

    <body>
        <div id="app">
            <!-- <div>{{counter.value}}</div>
            <button @click="">add</button>
            <input v-model="test.value" /> -->
        </div>
        <script type="module">
            const { createApp, ref, reactive, renderList } = MiniVue
            createApp({
                template: `
                  Counter Demo
                  <div>{{counter.value}}</div>
                  <button @click="add">add</button>
                  <ul>
                    <li v-for="(item, index) in items" :key="index">{{item}}--{{index}}</li>
                  </ul>
                  <div v-if="ok.value">ok</div>
                  <div v-if="!ok.value">not ok</div>
                  <button @click="toggle">toggle</button>
                `,
                setup() {
                    // const items = reactive([{
                    //     name: 'foo'
                    //   },
                    //   {
                    //     name: 'bar'
                    //   },
                    // ])
                    const items = [11, 22, 33, 44, 55]
                    const counter = ref(0)
                    const add = () => counter.value++
                    const ok = ref(true)
                    const toggle = () => (ok.value = !ok.value)

                    // const test = ref('hello')
                    return {
                        counter,
                        add,
                        items,

                        ok,
                        toggle,
                        // test
                    }
                },
            }).mount('#app')
        </script>
    </body>
</html>
